body{background-color: #ccc;

}


#container{
    
    width:750px;
	margin:0px auto;
	padding:20px;
	border:1px solid #003366;
	background-color:#eee8d5;




}

#header
h1{
	text-align:center;
    color: #003366;
}

#band{
	width:750px;
	height:5px;
	background-color:#003366;
}